* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #333;
    --secondary-color: #f0f0f0;
    --accent-color: #007bff;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    padding: 20px;
    font-size: 20px;
}

.cabecalho {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rodape {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    position: baseline;
    width: 100%;
    bottom: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: var(--primary-color);
    font-size: 2em;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darken(var(--accent-color), 10%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.biografia, .passado, .foto-container, .atualmente {
    margin-bottom: 40px;
}

.foto-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
}

.foto-pc, .foto-ps2, .foto-ifsc {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5% 10%;
    width: 45%;
    height: auto;
    align-items: center;
}

.foto-ifsc {
    width: 30%;
    height: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f0f0f0;
}

h3, h4, h5 {
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}


@media (max-width: 768px) {
    .foto-container {
        flex-direction: column;
        align-items: center;
    }

    .foto-pc, .foto-ps2, .foto-ifsc {
        width: 80%;
    }
}